
@{
    ViewBag.Title = "Index";
}
<section class="hero-area">
    <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        <div class="single-hero-slide d-flex align-items-center justify-content-center">
            <!-- Slide Img -->
            <div class="slide-img bg-img" style="background-image: url(../../img/bg-img/bg-1.jpg);"></div>
            <!-- Slide Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms"></h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms"><span></span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Slide -->
        <div class="single-hero-slide d-flex align-items-center justify-content-center">
            <!-- Slide Img -->
            <div class="slide-img bg-img" style="background-image: url(../../img/bg-img/bg-2.jpg);"></div>
            <!-- Slide Content -->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-slides-content text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms"></h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms"><span></span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Hero Area End ##### -->
<!-- ##### Latest Albums Area Start ##### -->
<section class="latest-albums-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading style-2">
                    <h2>En popüler Enstrümanlar</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="albums-slideshow owl-carousel">
                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="~/img/bg-img/piyano.jpg" width="300" height="300" alt="">
                        <div class="album-info">
                            <a href="#">
                                <h5>Piyano</h5>
                            </a>
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="~/img/bg-img/gitar.jpg" width="300" height="300" alt="">
                        <div class="album-info">
                            <a href="#">
                                <h5>Gitar</h5>
                            </a>
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="~/img/bg-img/keman.jpg" width="300" height="300" alt="">
                        <div class="album-info">
                            <a href="#">
                                <h5>Keman</h5>
                            </a>
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="~/img/bg-img/davul.jpg" width="300" height="300" alt="">
                        <div class="album-info">
                            <a href="#">
                                <h5>Davul</h5>
                            </a>
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="~/img/bg-img/saksafon.jpg" width="300" height="300" alt="">
                        <div class="album-info">
                            <a href="#">
                                <h5>Saksafon</h5>
                            </a>
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="~/img/bg-img/flut.jpg" width="300" height="300" alt="">
                        <div class="album-info">
                            <a href="#">
                                <h5>Flüt</h5>
                            </a>
                        </div>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="~/img/bg-img/cello.jpg" width="300" height="300" alt="">
                        <div class="album-info">
                            <a href="#">
                                <h5>Çello</h5>
                            </a>
                        </div>
                    </div>
                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="~/img/bg-img/klarnet.jpg" width="300" height="300" alt="">
                        <div class="album-info">
                            <a href="#">
                                <h5>Klarnet</h5>
                            </a>
                        </div>
                    </div>
                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="~/img/bg-img/trompet.jpg" width="300" height="300" alt="">
                        <div class="album-info">
                            <a href="#">
                                <h5>Trompet</h5>
                            </a>
                        </div>
                    </div>
                    <!-- Single Album -->
                    <div class="single-album">
                        <img src="~/img/bg-img/arp.jpg" width="300" height="300" alt="">
                        <div class="album-info">
                            <a href="#">
                                <h5>Arp</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Latest Albums Area End ##### -->

<!-- ##### Miscellaneous Area Start ##### -->
<section class="miscellaneous-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- ***** Weeks Top ***** -->
            <div class="col-12 col-lg-4">
                <div class="weeks-top-area mb-100">
                    <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">                
                        <h2>2020 En Çok Dinlenenler</h2>

                    </div>

                    <!-- Single Top Item -->
                    <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="100ms">
                        <div class="thumbnail">
                            <img src="~/img/trend/sezenaksu.jpg" width="100" height="100" alt="">
                        </div>
                        <div class="content-">
                            <h6>Sezen Aksu</h6>
                            <p>Ben de yoluma giderim</p>
                        </div>
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="150ms">
                        <div class="thumbnail">
                            <img src="~/img/trend/zeynepbastik.jpg" width="100" height="100" alt="">
                        </div>
                        <div class="content-">
                            <h6>Zeynep Bastık</h6>
                            <p>Uslanmıyor Bu</p>
                        </div>
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="200ms">
                        <div class="thumbnail">
                            <img src="~/img/trend/sagopa.jpg" width="100" height="100" alt="">
                        </div>
                        <div class="content-">
                            <h6>Sagopa Kajmer,Patron</h6>
                            <p>Siyah</p>
                        </div>
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="250ms">
                        <div class="thumbnail">
                            <img src="~/img/trend/ezhel.jpg" width="100" height="100" alt="">
                        </div>
                        <div class="content-">
                            <h6>Ezhel,Murda</h6>
                            <p>AYA</p>
                        </div>
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="300ms">
                        <div class="thumbnail">
                            <img src="~/img/trend/yuzyuzeyken.jpg" width="100" height="100" alt="">
                        </div>
                        <div class="content-">
                            <h6>Yüzyüzeyken Konuşuruz</h6>
                            <p>Kazılı Kuyum</p>
                        </div>
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="350ms">
                        <div class="thumbnail">
                            <img src="~/img/trend/gazapizm.jpg" width="100" height="100" alt="">
                        </div>
                        <div class="content-">
                            <h6>Gazapizm</h6>
                            <p>Unutulacak Dünler</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ***** New Hits Songs ***** -->
            <div class="col-12 col-lg-4">
                <div class="new-hits-area mb-100">
                    <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                        <h2>Klasik Parçalar</h2>
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                        <div class="first-part d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="~/img/bg-img/mozart.jpg" width="100" height="100" alt="">
                            </div>
                            <div class="content-">
                                <h6>Mozart</h6>
                                <p>Turkish March</p>
                            </div>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/audio/music/TurkishMarch-Mozart.mp3">
                        </audio>
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="150ms">
                        <div class="first-part d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="~/img/bg-img/vivaldi.jpg" width="100" height="100" alt="">
                            </div>
                            <div class="content-">
                                <h6>Vivaldi</h6>
                                <p>La Follia</p>
                            </div>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/audio/music/Vivaldi-LaFollia.mp3">
                        </audio>
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="200ms">
                        <div class="first-part d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="~/img/bg-img/beethoven.jpg" width="100" height="100" alt="">
                            </div>
                            <div class="content-">
                                <h6>Beethoven</h6>
                                <p>Für Elise</p>
                            </div>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/audio/music/Beethoven-FürElise.mp3">
                        </audio>
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="250ms">
                        <div class="first-part d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="~/img/bg-img/handel.jpg" width="100" height="100" alt="">
                            </div>
                            <div class="content-">
                                <h6>Handel</h6>
                                <p>Sarabande</p>
                            </div>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/audio/music/Handel-Sarabande.mp3">
                        </audio>
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">
                        <div class="first-part d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="~/img/bg-img/mauricaravel.jpg" width="100" height="100" alt="">
                            </div>
                            <div class="content-">
                                <h6>Maurica Ravel</h6>
                                <p>Bolero</p>
                            </div>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/audio/music/bolero-ravel.mp3">
                        </audio>
                    </div>

                    <!-- Single Top Item -->
                    <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="350ms">
                        <div class="first-part d-flex align-items-center">
                            <div class="thumbnail">
                                <img src="~/img/bg-img/isaac.jpg" width="100" height="100" alt="">
                            </div>
                            <div class="content-">
                                <h6>Isaac Albeniz</h6>
                                <p>Asturias</p>
                            </div>
                        </div>
                        <audio preload="auto" controls>
                            <source src="~/audio/music/Asturias-IsaacAlbeniz.mp3">
                        </audio>
                    </div>
                </div>
            </div>

            <!-- ***** Popular Artists ***** -->
            <div class="col-12 col-lg-4">
                <div class="popular-artists-area mb-100">
                    <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                        <h2>Ünlü Enstrüman Virtüözleri</h2>
                    </div>

                    <!-- Single Artist -->
                    <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="100ms">
                        <div class="thumbnail">
                            <img src="~/img/bg-img/neset.jpg" alt="">
                        </div>
                        <div class="content-">
                            <p>Neşet Ertaş</p>
                        </div>
                    </div>

                    <!-- Single Artist -->
                    <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="300ms">
                        <div class="thumbnail">
                            <img src="~/img/bg-img/fazilsay.jpg" alt="">
                        </div>
                        <div class="content-">
                            <p>Fazıl Say</p>
                        </div>
                    </div>

                    <!-- Single Artist -->
                    <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="200ms">
                        <div class="thumbnail">
                            <img src="~/img/bg-img/yavuz.jpg" alt="">
                        </div>
                        <div class="content-">
                            <p>Yavuz Çetin</p>
                        </div>
                    </div>

                    <!-- Single Artist -->
                    <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="400ms">
                        <div class="thumbnail">
                            <img src="~/img/bg-img/volkanoktem.jpg" alt="">
                        </div>
                        <div class="content-">
                            <p>Volkan Öktem</p>
                        </div>
                    </div>

                    <!-- Single Artist -->
                    <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="250ms">
                        <div class="thumbnail">
                            <img src="~/img/bg-img/sunakan.jpg" alt="">
                        </div>
                        <div class="content-">
                            <p>Suna Kan</p>
                        </div>
                    </div>

                    <!-- Single Artist -->
                    <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="350ms">
                        <div class="thumbnail">
                            <img src="~/img/bg-img/kudsierguner.jpg" alt="">
                        </div>
                        <div class="content-">
                            <p>Kudsi Ergüner</p>
                        </div>
                    </div>

                    <!-- Single Artist -->
                    <div class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="150ms">
                        <div class="thumbnail">
                            <img src="~/img/bg-img/misirli.jpg" alt="">
                        </div>
                        <div class="content-">
                            <p>Mısırlı Ahmet</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Miscellaneous Area End ##### -->


@section footer{
    @Html.Partial("_PartialFooter")
}