@using LearnMusico.Entities
@using LearnMusico.ViewModels
@using LearnMusico.Models

@model  SharingCommentViewModel

@{
    MusicaUser user = CurrentSession.User;
}

<div class="blog-post-thumb mt-30">
    <video width="720" height="400" controls>
        <source src="~/videos/sharing/@Model.sharing.VideoUrlPath" type="video/mp4">
    </video>
</div>

<div class="blog-content justify-content-center">
    <a href="#" class="">@Model.sharing.Title</a>
    <div class="post-meta d-flex mb-30">
        <p class="post-author"><a href="#">@Model.sharing.ModifiedUsername</a></p> <br />
        <p class="post-author ml-2"><a href="#">(@Model.sharing.ModifiedOn.ToString("dd.MM.yy"))</a></p>
        @*<p class="tags"><a href="#">Yorumlar</a></p>*@
    </div>
    <p>@Model.sharing.Description</p>
</div>


@foreach (Comment item in Model.comment)
{
    <div class="pt-5">
        <h3 class="mb-5">6 Comments</h3>
        <ul class="comment-list">
            <li class="comment">
                <div class="vcard bio">
                    <img src="img/bg-img/person_2.jpg" alt="Image">
                </div>
                <div class="comment-body">
                    <h3>Jacob Smith</h3>
                    <div class="meta">January 9, 2018 at 2:21pm</div>
                    <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
                </div>
            </li>

            <li class="comment">
                <div class="vcard bio">
                    <img src="img/bg-img/person_3.jpg" alt="Image">
                </div>
                <div class="comment-body">
                    <h3>Chris Meyer</h3>
                    <div class="meta">January 9, 2018 at 2:21pm</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                </div>
            </li>

            <li class="comment text-right image-right">
                <div class="vcard2 bio">
                    <img src="img/bg-img/person_1.jpg" alt="Image">
                </div>
                <div class="comment-body">
                    <h3>Jean Doe</h3>
                    <div class="meta">January 9, 2018 at 2:21pm</div>
                    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                </div>

            </li>
        </ul>
    </div>
}




